.event-img {
    width: 30%;
    height: 30%;
}

.event-title {
    padding: 15px 15px;
}

.sponsor {
    padding: 15px 15px;
}

.sponsor-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}