sidebar {
  background-color: #000000;
}

.col-lg-2.align-self-stretch.sidebar {
  background-color: #000000;
}

.container-fluid.page-content {
  padding: 20px 40px;
}

.col-md-10.page {
  margin-right: -10px;
}

.row.page-block {
  padding: 15px 0px;
}

.col-sm-6.col-md-6.col-lg-4.col-xl-4.event-card {
  padding: 15px 30px;
}

.col-sm-6.col-md-6.col-lg-4.col-xl-3.people-card {
  padding: 15px 30px;
}

.img-fluid.service-img {
  padding-bottom: 20px;
}

